/* body {
    background-image: linear-gradient(rgba(109, 109, 109, 0.075), rgba(109, 109, 109, 0.075)),
    url("https://image.freepik.com/free-vector/blurred-valentine-s-day-wallpaper_23-2148819570.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
} */